/* Font Ubuntu */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Bootstrap Icons */

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* estilos gerais */

* {
  font-family: "Ubuntu", sans-serif;
}

html {
  min-height: 100vh;
}

body {
  background-image: url("../img/bg-todo.jpg");
  background-position: center;
  background-size: cover;
}

button {
  border: 2px solid #092865;
  background-color: #fff;
  color: #092865;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #092865;
  color: #fdfdfd;
}

button:hover i {
  color: #fdfdfd;
}

button i {
  font-size: 20px;
}

input,
select {
  padding: 0.25rem 0.5rem;
}

.hide {
  display: none;
}

.feita {
  background-color: #133c8e;
  color: #fff;
  text-decoration: line-through;
  font-style: italic;
}

/* todo container */

#todo-container {
  background-color: #fdfdfd;
  width: 450px;
  margin: 3rem auto;
  padding: 1rem 2rem;
  border-radius: 15px;
}

/* todo header */

#todo-container h1 {
  text-align: center;
  font-size: 40px;
  padding: 0 1rem 1rem;
  border-bottom: 3px solid #e0e0e0;
  margin: 0;
}

/* todo form */

#todo-form,
#edit-form {
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-bottom: 3px solid #e0e0e0;
}

#todo-form p,
#edit-form p {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control {
  display: flex;
}

#cancel-edit-btn {
  margin-top: 0.5rem;
  margin-left: 0;
  text-transform: uppercase;
  font-size: 18px;
}

/* barra de pesquisa */

#barra-pesquisa {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 3px solid #e0e0e0;
}

#barra-pesquisa h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#busca-container {
  width: 65%;
  border-right: 3px solid #e0e0e0;
  padding-right: 1rem;
  margin-right: 1rem;
}

#busca-container form {
  display: flex;
}

#busca-container input {
  width: 100%;
}

#filtro-container {
  width: 35%;
  display: flex;
  flex-direction: column;
}

#filtro-select {
  flex: 1;
}

/* todo list */

.todo {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 2px solid #e0e0e0;
}

.todo h3 {
  flex: 1;
  font-size: 15px;
}
